@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100%; 
}

header{
    max-height: 8vh;
    width: auto;
    
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    margin: auto 2vh;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin: auto 5vh;
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: #5a5a5a;
    padding: 0 5px;
    border-radius: 5px;
    position: relative;
    letter-spacing: 0px;
}

header a::after{
    content: "";
    position: absolute;
    background-color: #69A658;
    height: 0.5vh;
    width: 0%;
    left: 0px;
    bottom: -1.2vh;
    transition: 0.2s;
}

header a:hover{
    color: #000000;
}

header a:hover::after{
    width: 100%;
    background-color: #69A658;
   
}

#logo{
    max-height: 9vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
}

#Header1{
    height: 40vh;
    width: 100%;
    background-image: url('IMGs/Header1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: inset rgba(0, 0, 0, 0.50) 0px 0px 20px 5px;
    display: block;
   
}

main{
    margin: 5vw;
    font-size: 1.2vw;
    font-family: Arial;
    color: rgb(77, 77, 77);
}

article h2{
    margin: 0px 0px 5px 0px;
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins';
    font-size: min(5vh, 3rem);
}
#sc1{
    font-size: min(5vh, 1.7rem);
    font-family: Arial;
}
#at1{
    position: relative;
    width: 100%;
    height: auto;
    left: 5%;
}
#sc1 p{
    width: 90%;
    height: auto;
    margin-top: 30px;
    text-indent: 70px;
    text-align: justify;
}
.Caption{
    text-align: justify;
}
.containder{
    height: auto;
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex: 1;
    flex-direction: row;
    grid-gap: 10rem;
    text-align: center;
    font-size: 3.5vh;
    font-family: 'Roboto';
    
    margin-top: 10vh;
    line-height: normal;
    box-sizing: border-box;
}
.containder h4 {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 20px;
    height: auto;
}
.IcoIMG{
    height: 128px;
    width: 128px;
}
.flex1{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.flex1.fx2{
    margin-top: 10px;
}
.flex1.fx3{
    margin-top: 0px;
}
section.cards{
    display:flex;
    flex-direction: row;
    text-align: center;
    
    align-items: center;
    font-family: 'Poppins';
    padding: 32px;
}
section.cards section.card{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    height: 340px;
    width: 350px;
    margin-left: 32px;
    text-align: center;
    align-content: center;
    align-items: center;
    box-shadow: rgba(115, 165, 71, 0.651) 20px 20px 50px -30px;
}
section.card .icon {
    width: 64px;
    height: 64px;
}
section.card:first-child {
    margin-left: 0px;
}
section.card h3{
    max-width: 250px;
    margin: 10px 0;
}
section.card span{
    max-width: 250px;
    margin-bottom: 10px;
    font-size: 1rem;
}
section.card button{
    font-family: 'Poppins';
    margin-top: 5px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}
section.card.btn button{
    background: linear-gradient(to right, #69A658, #99c970 );
}
section.card.btn{
    box-shadow: 20px 20px 50px -40px #8baa70;
}
@media screen and (max-width: 770px) {
    *{
        max-height: 230vh;
    }
    .containder{
        flex-direction: column;
    }
    section.cards{
        flex-direction: column;
    }
    section.card{
        margin: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 0.8rem;
    }
    section.card button{
        font-size: 0.6rem;
    }
    section.card:last-child {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    header a:hover::after{
        width: 0%;
    }
}
