@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    max-height: 100vh;
    max-width: 100%; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: block;
}
header{
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    margin: 3vh 2vh;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin: auto 5vh;
    font-family: 'Poppins';
    font-size: 0.9rem;
    font-weight: 600;
}

header a{
    text-decoration: none;
    color: #5a5a5a;
    padding: 0 5px;
    border-radius: 5px;
    position: relative;
    letter-spacing: 0px;
}

header a:hover{
    color: #000000;
}

#logo{
    max-height: 9vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px 1px;
}

main{
    height: auto;
    width: 90%;
    text-align: center;
    margin: auto;
}
h2.titulo1{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgb(77, 77, 77);
    font-family: 'Poppins';
    font-weight: 600;
}
section.Sc1{
    max-height: 90%;
    max-width: 100%;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h3.subtitulo1{
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2rem;
    text-indent: 0px;
}
article.At1{
    height: 80%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    text-indent: 60px;
    text-align: justify;
    color: #5a5a5a;
    font-family: 'Poppins';
    margin-bottom: 20px;
}
.Sc1 img{
    max-height: 60vh;
    max-width: 80%;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.473) 1px 1px 10px 1px;
}
section.Sc1 a{
    text-decoration: none;
    margin-right: 10px;
}
section.Sc1 a:last-child{
    margin-right: -10px;
}
buttom.bt1{
    font-family: 'Poppins';
    margin-top: 5px;
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 70%;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, #69A658, #99c970 );
}
footer{
    height: 1rem;
    width: 100%;
    color: white;
    background-color: #69A658;
    font-size: 0.7rem;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 20px;
}
div.foot{
    padding-top: 50px;
}


@media screen and (max-width: 560px) {
    header{
        max-height: 8vh;
    }
   #logo{
       max-height: 10vh;
   }
   header li{
       margin: auto;
   }
   h2.titulo1{
       font-size: max(1rem);
   }
   h3.subtitulo1{
       font-size: max(0.8rem);
   }
   article.At1{
       font-size: max(0.7rem);
   }
}
